// Colors define.
$light-sea-green: #29ABA4;
$maya-blue: #77C5F7;
$pickled-bluewood: #354458;
$terracotta: #EB7260;
$tapa: #777777;
$white: #ffffff;


// Color assign.
$link-color: $maya-blue;
$highlight-color: $terracotta;
$background-light: $tapa;
$background-dark: $pickled-bluewood;
$background-main: rgba(0,0,0,0.035);

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
