body {
    @include flexbox;
    @include flex-direction('column');
    margin: 0 auto;
}
main {
    max-width: $ultrawide;
    @include flex(1);
    margin-top: 51px;
    padding-top: 15px;
    @include mq($small) {
        margin-top: 44px;
    };
    @include mq($medium) {
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    };
    .wrapper {
        @include margin-wrapper('margin-right');
        @include margin-wrapper('margin-left');
    }
}
footer {
    width: 100%;
}
