@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600');

$font-family--Cabin: 'Cabin', sans-serif;
$font-family--SourceSansPro: 'Source Sans Pro', sans-serif;

// Media queries.
$small: 768px;
$medium: 992px;
$large: 1200px;
$ultrawide: 1440px;

// ==================================================
// $Variables
// ==================================================
// Supports
// @media min-width
// @media max-width
// @media min-width and max-width

$viewport-increment: 0.1px; // customize to suite

// Constraints
$min: min-width;
$max: max-width;

// ==================================================
// $Media Query @Mixin
// ==================================================

@mixin mq($viewport1, $viewport2: null) {
  $constraint: min-width;
  @if $constraint == $min {

    @media screen and ($min: $viewport1) {
      @content;
    }

  } @else if $constraint == $max {

    @media screen and ($max: $viewport1) {
      @content;
    }

  } @else {

    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }

  }

}
