<footer class="site--footer">
  <div class="wrapper">
    <h2 class="footer--heading">
        <a href="/">
            <img src="/assets/icon/droid-head.png" alt="logo" class="footer--heading--logo">{{ site.title | escape }}
        </a>
    </h2>
    <div class="footer--social">
        <a href="http://coffeeio.com/" target="_blank" class="footer--social--icon" title="CoffeeIO">
            <img src="/assets/icon/coffeeio32x32.png" alt="CoffeeIO">
        </a>
        <a href="https://github.com/MGApcDev" target="_blank" class="footer--social--icon" title="MGApcDev's Github">
            <img src="/assets/icon/github-32x32.png" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/mathias-grundtvig-andreasen-2682b8a2/" target="_blank" class="footer--social--icon" title="LinkedIn">
            <img src="/assets/icon/linkedin-64x64.png" alt="LinkedIn">
        </a>
    </div>
  </div>
</footer>
