<header class="" role="banner">
    <div class="wrapper">

        <nav class="navbar" id="cssmenu">
            <div class="navbar--wrapper">
                <ul class="navbar--left">
                    <li class="navbar--left--logo"><a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></li>
                    <li class="navbar--left--burger">
                        <button class="hamburger hamburger--squeeze" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </li>
                </ul>
                {% assign sorted_pages = site.pages | sort:"weight" %}
                <ul class="navbar--right">
                    {%- for path in sorted_pages -%}
                    {%- if path.categories == 'nav' -%}
                    <li><a class="" href="{{ path.url | relative_url }}">{{ path.title | escape }}</a></li>
                    {%- endif -%}
                    {%- endfor -%}
                </ul>
            </div>
        </nav>
    </div>
</header>
