{%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {% assign n = site.posts.size | minus: 1 %}
    {% assign see-more = false %}
    {% if include.range and include.range != "" %}
      {% assign n = include.range | minus: 1 %}
      {% assign see-more = true %}
    {% endif %}
    {%- for num in (0..n) -%}
    {%- assign post = site.posts[num] -%}

    <a href="{{ post.url | relative_url }}">
    <li>
      {%- if post.thumbnail != "" -%}
          <div class="post-list--thumbnail">
              <div class="thumbnail--blur">
                  <img class="" src="{{ "/assets/posts/" | append: post.thumbnail | relative_url }}" alt="">
              </div>
              <div class="thumbnail--main">
                  <img class="" src="{{ "/assets/posts/" | append: post.thumbnail | relative_url }}" alt="">
              </div>
          </div>
      {%- endif -%}
      {%- assign date_format = "%-d %b, %Y" -%}
      <h2 class="post-list--title">
          {{ post.title | escape }}
      </h2>
      <span class="post-list--date"><i>{{ post.date | date: date_format }}</i></span>
      {%- if post.desc and post.desc != '' -%}
        <p class="post-list--desc">{{ post.desc }}</p>
      {%- endif -%}
    </li>
    </a>
    <hr>
    {%- endfor -%}
  </ul>
  {% if see-more %}
  <h3 class="post-list--see-more"><a href="/posts/">See all posts</a></h3>
  {% endif %}
{%- endif -%}
