@mixin base-font {
    font-style: normal;
    font-stretch: normal;
    text-align: left;
}
@mixin P {
    @include base-font;
    font-family: $font-family--SourceSansPro;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: 0.8px;
    @include mq($small) {
        font-size: 18px;
    }
    @include mq($large) {
        font-size: 20px;
    };
}
@mixin H1 {
    @include base-font;
    font-family: $font-family--Cabin;
    font-size: 40px;
    @include mq($medium) {
        font-size: 60px;
    };
    @include mq($large) {
        font-size: 70px;
    };
}
@mixin H2 {
    @include base-font;
    font-family: $font-family--SourceSansPro;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75;
    @include mq($small) {
        font-size: 22px;
    };
    @include mq($large) {
        font-family: $font-family--Cabin;
        font-size: 24px;
    };
}
@mixin H3 {
    @include base-font;
    font-family: $font-family--SourceSansPro;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75;
    @include mq($small) {
        font-size: 22px;
    };
    @include mq($large) {
        font-size: 24px;
    };
}
@mixin font--image-caption {

}
@mixin font--code {

}
@mixin font--post-list--title {
    @include base-font;
    font-family: $font-family--SourceSansPro;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.75;
    @include mq($small) {
        font-size: 32px;
    };
    @include mq($medium) {
        font-size: 28px;
    };
    @include mq($large) {
        font-family: $font-family--Cabin;
        font-size: 32px;
    };
}
@mixin font--post--title {
    @include H1;
}
@mixin font--post--date {
    @include base-font;
    font-family: $font-family--SourceSansPro;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.75;
    @include mq($small) {
        font-size: 16px;
    }
    @include mq($large) {
        font-size: 18px;
    };
}
@mixin font--post--desc {
    @include H2;
}
@mixin font--nav--text {
    @include base-font;
    font-family: $font-family--SourceSansPro;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.7;
    @include mq($small) {
        font-size: 16px;
    };
    @include mq($large) {
        font-size: 18px;
    };
}
@mixin font--footer--text {

}
