footer {
    background: $background-dark;
}
.footer--wrapper {
    max-width: $ultrawide;
    margin: 0 auto;
}
.site--footer {
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: $highlight-color;
        }
    }
    .wrapper {
        max-width: $ultrawide;
        @include clearfix;
        @include center;
        margin-bottom: 15px;
        margin-top: 15px;
        @include margin-wrapper('padding-right');
        @include margin-wrapper('padding-left');
        box-sizing: border-box;
        @include mq($small) {
            margin-top: 25px;
            margin-bottom: calc(25px - 8px);
        };
    }
}
.footer--heading {
    position: relative;
    margin: 0;
    text-align: center;
    @include mq($small) {
        float: left;
    };

}
.footer--heading--logo {
    margin-bottom: 21px;
    margin-right: 10px;
    height: 32px;
}
.footer--social {
    text-align: center;
    @include mq($small) {
        float: right;
    };
}
.footer--social--icon {
    margin-left: 10px;
    img {
        height: 32px;
    }
}
